<h1>This page will feature a full layout of the property, and an index of each section of the garden that you can click to go through to their individual profile.</h1>

<nav>
  <a class="link" href="/waenga/section_profile">Go to view <strong> Front of House </strong> profile page.</a> </br>
  <a class="link" href="/">This will take you home(page).</a>
</nav>
