<h1>Add a new zone to the waenga index.</h1>
<form action ="/new_zone" method = "post">
     <table>
       <tr> <th>Zone name</th>
         <td><input placeholder="zone name" type="text" name="name"/>
         </td>
       </tr>
       <tr> <th>Description: </th>
         <td><input placeholder="description" type="text" name="description"/>
           </td>
       </tr>
       <tr> <th>Image </th>
         <td><input placeholder="Image" type="url" name="image"/>
         </td>
       </tr>
       <tr><th>Current plantings </th>
         <td><input placeholder="plant name" type="text" name="plants"/>
         </td>
       </tr>
       <tr><th>Wishlist</th>
         <td><input placeholder="dreams are free" type="text" name="wishes"/>
         </td>
       </tr>
     </table>
 </div>

   <input type="submit" name = "submit" value = "submit" />
</form>
<nav>
  <a class="link" href="/">Back to waenga index</a> </br>
</nav>




<nav>
  <a class="link" href="/"></a> </br>
</nav>
