<nav>
  <a class="link" href="/">Back to home</a> </br>
</nav>
<h1>Add a new zone to the waenga index.</h1>
<form action ="/new_zone" method = "post">
     <table>
       <tr> <th>Zone name</th>
         <td><input placeholder="zone name" type="text" name="zone-name"/>
         </td>
       </tr>
     </table>
       <!-- <tr> <th>Description: </th>
         <td><input placeholder="description" type="text" name="description"/>
           </td>
       </tr> -->
      <table>
       <!-- <tr> <th>Image </th>
         <td><input placeholder="Upload Image" type="url" name="image"/>
         </td>
       </tr> -->
       <input type="submit" name = "submit" value = "submit" />
     </table>
</div>

<!-- <div class="container">
    <h2>Description</h2>
<p> Aspect</p>
  <form>
    <label class="radio-inline">
      <input type="radio" name="optradio">North
    </label>
    <label class="radio-inline">
      <input type="radio" name="optradio">South
    </label>
    <label class="radio-inline">
      <input type="radio" name="optradio">East
    </label>
    <label class="radio-inline">
      <input type="radio" name="optradio">West
    </label>
   <input type="submit" name = "submit" value = "submit" />
 </form>
</div> -->
