<h1> This is the profile page for <strong> the section in front of the house </strong></h1>

<p>{{description}}</p>
<p>{{plantings}}</p>


<nav>
  <a class="link" href="/">This will take you home(page).</a>
</nav>
