<!DOCTYPE html>
<html>
  <head>
    <title> Waenga </title>

    </head>
    <body>

      <h1> Kia ora, Hughes family. </h1>
      <p>Welcome to your customised garden management app. This is under development, but you no doubt know all about that.</p>
      <h2>List of all current waenga zones:</h2>

      <table>
        <tr>
          <th>Zone Name</th>
          <th>Zone image</th>
        </tr>
        {{#each zoneTable}}
        <tr>
         <td><a class="link" href="/waenga/{{zone_id}}">{{zone_name}}</a></td>
         <td><a class="link" href="/waenga/{{zone_id}}">{{zoneImage}}</a></td>
       </tr>
        {{/each}}
      </table>

      <h1>Add a new zone to the waenga index.</h1>

      <nav>
        <a class="link" href="/waenga/new_zone"><h3>Add new garden zone</h3></a> </br>
      </nav>
    </body>
  </html>
