<!DOCTYPE html>
<html>
  <head>
    <title> Waenga </title>

    </head>
    <body>

      <h1> Kia ora, Hughes family. </h1>
      <p>Welcome to your customised garden management app. This is under development, but you no doubt know all about that.</p>

      <ul>
        {{#each waenga}}
        <li> {{section_name}} </li>
        {{/each}}
      </ul>

      <!-- <table>
        <tr>
          <th>Zone Name</th>
        </tr>
        {{#each waenga}}
        <tr>
          <td></td>
        </tr>
        {{/each}} -->
    </body>
  </html>
