<!DOCTYPE html>
<html>
  <head>
    <title> Waenga </title>
      <link rel='stylesheet' href='/stylesheets/style.css' </a>
    </head>
    <body>
      <h1> Kia ora, Hughes family. </h1>
      <p>Welcome to your customised garden management app. This is under development, but you no doubt know all about that.</p>
      <p>Here are some things to look forward to:</p>
      <ul>
          <li> This page will soon (or whenever) contain an <strong>ALERT BOX</strong> that tell you of important activities to remember, such as, fertilising the feijoa trees; spraying the plum trees and the lilies for aphids; give the lemon and lime some citrus food; and remember to water those new seedlings in the greenhouse (jk you don't have a greenhouse--yet--).</li>
          <li><strong>TO DO LIST</strong> - a combined to do list from all of the zones in the garden. Like, build a greenhouse in the dell; create memorial garden for Poppa in the dell boarder flat; mulch the path to the dell.</li>
        <li><strong>A WEATHER FORECAST WIDGET</strong> - to tell you about upcoming weather conditions. This feature will also eventually extend to inform your <strong> ALERT BOX </strong> so that you may recieve an alert like "Warning, Hughes family! It hasn't rained for 3 days and you need to water the planter boxes!"</li>
      <nav>
      </br>
        <a class="link" href="/waenga/hui_katoa">Hui Katoa - check out our whole garden in all its raw awesomeness</a>
      </nav>

    </body>
  </html>
